/* static/style.css */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f8f4;
}

/* Login Page Styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #eae366 0%, #a2984b 100%);
}

.login-box {
    background: rgb(60, 247, 247);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; 
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #764ba2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover { background-color: #5a387e; }

/* Dashboard Styles */
.navbar {
    background-color: #2c3e50;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-link {
    color: #ecf0f1;
    text-decoration: none;
    border: 1px solid #ecf0f1;
    padding: 5px 15px;
    border-radius: 4px;
}

#map {
    height: 90vh; /* 90% of the screen height */
    width: 100%;
}